   <div class="container">
       <div class="jumbotron" style="padding-bottom:0px;">
       <h2> Mangal Firebase App!</h2>
        </div>
        <form class="form-signin" role="form">
            <input type="email" class="form-control" placeholder="Email address" required="" autofocus="">
            <input type="password" class="form-control" placeholder="Password" required="">
            <label class="checkbox">
             <a href="#/view2"> Sign Up</>
        </label>
       <button type="button" ng-click="SignIn($event)" class="btn btn-lg btn-primary btn-block">SignIn</button>
      </form>
 
    </div>
